<style>

    .panel-default {
        display: none;
        width: 85%;
        background-color: #fff;
        position: absolute;
        top: 55px;
        right: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba(146, 142, 142, 0.911);
        height: 80vh;
        overflow: auto
    }

    .panel-heading>button {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    /* .panel-body{
        max-height: 80vh;
        overflow-y: auto;
    } */

    .fill-after:after {
        content: '.';
        height: 0;
        display: block;
        clear: both;
        visibility: hidden;
    }

    .m10 {
        margin: 10px;
    }

    .detail-button {
        margin-left: 20px;
        color: #00aaff;
        cursor: pointer
    }

    .file-box {
        width: 50px;
        height: 60px;
        /* border: 1px solid #000; */
        float: left;
        /* padding: 4px;
        line-height: 25px; */
    }

    .progress-content {
        width: 60%;
        float: left;
        margin: 0 10px;
    }

    .center-33p {
        display: inline-block;
        width: 33%;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .w28p {
        width: 28%;
    }

    .left-63p {
        display: inline-block;
        width: 63%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .cancel-button {
        width: 10%;
        float: left;
        margin-left: 20px;
        color: #00aaff;
        cursor: pointer;
    }

    .no-task {
        margin-left: 10px;
        color: red;
    }

    .mask {
        position: fixed;
        /* background-color: gray; */
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: 3;
    }
    .left-file-icon {
      width: 26px;
      height: 32px;
    }
    .bg-progress {
      /* background: rgba(21,126,251,0.15); */
      /* background-image: url('static/assets/bg-progress.png'); */
      background-position: 10%;
      background-repeat: no-repeat;
    }
</style>
<div class="panel panel-default" id="sync-history" style="display:none">
    <div class="panel-heading history-list" >
        同步状态
    </div>
    <div class=" list-history" style="display:block">
        <div class="fill-after">
            <h5 class="px-10px">当前设备:{{cogradient.device.name}}</h5>
            <div class="fill-after m10" ng-repeat="item in cogradient.list">
                <div ng-show="item.isDir">
                    <h6 title="{{item.key | formatName}}">
                        <span class="left-63p" style="width:50%;" title="{{item.key | formatName}}">---文件夹： {{item.key | formatName}} start---</span>
                        <span class="center-33p" title="{{item.uploadSpeed | formatKB}}kb">
                            {{item.uploadSpeed | formatKB}}kb/s</span>
                        <span class="center-33p" ng-click="cancelTask(item.fromRouter,item.key)" style="width:10%;color:#00aaff;cursor:pointer;margin-left:10px;">取消</span>
                    </h6>
                    <div ng-repeat="subItem in item.childs" ng-include="'synchro-branch-item'"></div>
                    <h6>---文件夹：{{item.key | formatName}} end---</h6>
                </div>
                <!-- 文件 -->
                <div ng-hide="item.isDir">
                    <div class="file-box">
                      <img src="/static/assets/music.svg" alt="">
                    </div>
                    <div class="progress-content">
                        <div>
                            <span class="left-63p" title="{{item.key | formatName}}">{{item.key | formatName}}</span>
                            <span class="center-33p" title="{{item.uploadSpeed | formatKB}}kb">{{item.uploadSpeed | formatKB}}kb/s</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{item.progress}}%;"
                                title="{{item.progress}}%">
                                <span class="sr-only">{{item.progress}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="cancel-button" ng-click="cancelTask(item.fromRouter,item.key)">
                        取消
                    </div>
                </div>
            </div>
            <script type="text/ng-template" id="synchro-branch-item">
                <div class="fill-after">
                    <div ng-show="subItem.isDir">
                        <h6 title="{{subItem.key | formatName}}">
                            <span class="left-63p" style="width:50%;" title="{{subItem.key | formatName}}">---文件夹： {{subItem.key | formatName}} start---</span>
                            <span class="center-33p" title="{{subItem.uploadSpeed | formatKB}}kb">
                                {{subItem.uploadSpeed | formatKB}}kb/s</span>
                            <span class="center-33p" ng-click="cancelTask(subItem.fromRouter,item.key)" style="width:10%;color:#00aaff;cursor:pointer;margin-left:10px;">取消</span>
                        </h6>
                        <div ng-repeat="subItem in subItem.childs" ng-include="'synchro-branch-item'"></div>
                        <h6>---文件夹：{{subItem.key | formatName}} end---</h6>
                    </div>
                    <div ng-hide="subItem.isDir">
                        <div class="file-box">
                          <img src="/static/assets/music.svg" alt="">
                        </div>
                        <div class="progress-content">
                            <div>
                                <span class="left-63p" title="{{subItem.key | formatName}}">{{subItem.key | formatName}}</span>
                                <span class="center-33p" title="{{subItem.uploadSpeed | formatKB}}kb/s">{{subItem.uploadSpeed | formatKB}}kb/s</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{subItem.progress}}%;"
                                    title="{{subItem.progress}}%">
                                    <span class="sr-only">{{subItem.progress}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="cancel-button" ng-click="cancelTask(subItem.fromRouter,subItem.key)">
                            取消
                        </div>
                    </div>
                </div>
            </script>
        </div>
        <div class="fill-after">
            <h5 class="px-10px">其他设备</h5>
            <div class="fill-after" ng-repeat="item in cogradient.deviceLists">
                <h6 class="px-10px">{{item.name}}
                    <span class="detail-button" ng-click="$parent.showDetail(item.routerId)">
                        <span ng-show="item.hidden">详情</span>
                        <span ng-hide="item.hidden">收起</span>
                    </span>
                </h6>
                <div ng-hide="item.hidden" ng-repeat="subItem in item.list">
                    <div class="" ng-show="subItem.isDir">
                        <!-- <div>
                            <img class="left-file-icon" src="static/assets/others.svg" alt="">
                        </div>
                        <div class="progress-content flex-auto">
                            <span class="left-63p fs-14px" title="{{subItem.key | formatName}}">666666{{subItem.key | formatName}}</span>
                        
                            <div class="flex justify-between fs-10px c-75">
                                <span class="" title="{{subItem.uploadSpeed | formatKB}}kb/s">{{subItem.uploadSpeed | formatKB}}kb/s</span>
                            </div>
                        </div>
                        <div class="cancel-button">
                            <svg class="w-8px" ng-show="subItem.progress !=100" ng-click="reSynchro(subItem)" aria-hidden="true">
                                <use xlink:href="#iconxtongbuzhuangtai"></use>
                            </svg>
                            <svg class="w-8px" ng-show="subItem.progress ==100" aria-hidden="true">
                                <use xlink:href="#iconxlvdian"></use>
                            </svg>
                            <svg class="w-8px" ng-show="subItem.progress !=100" ng-click="reSynchro(subItem)" aria-hidden="true">
                                <use xlink:href="#iconxhuidian"></use>
                            </svg>
                        </div>
                        <div ng-repeat="subItem in subItem.childs" ng-include="'synchro-branch-item'"></div> -->

                        <!-- before -->
                        <!-- <div class="file-box">
                            <img src="/static/assets/others.svg" alt="">
                        </div> -->
                        <h6 title="{{subItem.key | formatName}}">
                            <span class="left-63p" style="width:48%;" title="{{subItem.key | formatName}}">---文件夹： {{subItem.key | formatName}} start---</span>
                            <span class="center-33p" title="{{item.uploadSpeed | formatKB}}kb">
                                {{subItem.uploadSpeed | formatKB}}kb/s</span>
                            <span class="center-33p" ng-click="cancelTask(subItem.fromRouter,item.key)" style="width:10%;color:#00aaff;cursor:pointer;margin-left:10px;">取消</span>
                        </h6>
                        <div ng-repeat="subItem in subItem.childs" ng-include="'synchro-branch-item'"></div>
                        <h6>-&#45;&#45;文件夹：{{subItem.key | formatName}} end-&#45;&#45;</h6>
                    </div>
                    <div ng-hide="subItem.isDir">
                        <div class="file-box">
                          <img class="left-file-icon" src="static/assets/others.svg" alt="">
                        </div>
                        <div class="progress-content">
                            <div>
                                <span class="left-63p" title="subItem.key">{{subItem.key}}</span>
                                <span class="center-33p">{{subItem.uploadSpeed | formatKB}}kb/s</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{subItem.progress}}%;">
                                    <span class="sr-only">{{subItem.progress}}% 完成</span>
                                </div>
                            </div>
                        </div>
                        <div class="cancel-button" ng-click="cancelTask(subItem.fromRouter,subItem.key)">
                            取消
                        </div>
                    </div>
                </div>
                <div class="no-task" ng-show="!item.hidden&&!item.child">当前设备无同步任务</div>
            </div>
            <script type="text/ng-template" id="synchro-branch-item">
                <div class="fill-after">
                    <div ng-show="subItem.isDir">
                        <h6 title="{{subItem.key | formatName}}">
                            <span class="left-63p" style="width:50%;" title="{{subItem.key | formatName}}">---文件夹： {{subItem.key | formatName}} start---</span>
                            <span class="center-33p" title="{{subItem.uploadSpeed | formatKB}}kb">
                                {{subItem.uploadSpeed | formatKB}}kb/s</span>
                            <span class="center-33p" ng-click="cancelTask(subItem.fromRouter,item.key)" style="width:10%;color:#00aaff;cursor:pointer;margin-left:10px;">取消</span>
                        </h6>
                        <div ng-repeat="subItem in subItem.childs" ng-include="'synchro-branch-item'"></div>
                        <h6>---文件夹：{{subItem.key | formatName}} end---</h6>
                    </div>
                    <div ng-hide="subItem.isDir">
                        <div class="file-box">
                          <img src="/static/assets/music.svg" alt="">
                        </div>
                        <div class="progress-content">
                            <div>
                                <span class="left-63p" title="{{subItem.key | formatName}}">{{subItem.key | formatName}}</span>
                                <span class="center-33p" title="{{subItem.uploadSpeed | formatKB}}kb/s">{{subItem.uploadSpeed | formatKB}}kb/s</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{subItem.progress}}%;"
                                    title="{{subItem.progress}}%">
                                    <span class="sr-only">{{subItem.progress}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="cancel-button" ng-click="cancelTask(subItem.fromRouter,subItem.key)">
                            取消
                        </div>
                    </div>
                </div>
            </script>
        </div>
</div>
