<style>
  thead th a {
    color: rgba(0,0,0,0.85) !important;
  }
th, td {
  padding: 14px !important;
}
</style>

<table class="table mb0 table-files noselect p-10px">
    <thead>
        <tr>
            <th>
                <a href="" ng-click="order('model.name')">
                    {{"name" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.name'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-xs" ng-hide="config.hideSize">
                <a href="" ng-click="order('model.size')">
                    {{"size" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.size'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-sm hidden-xs" ng-hide="config.hideDate">
                <a href="" ng-click="order('model.date')">
                    {{"date" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.date'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
            <th class="hidden-sm hidden-xs" ng-hide="config.hidePermissions">
                <a href="" ng-click="order('model.permissions')">
                    {{"permissions" | translate}}
                    <span class="sortorder" ng-show="predicate[1] === 'model.permissions'" ng-class="{reverse:reverse}"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody class="file-item">
        <tr ng-show="fileNavigator.requesting">
            <td colspan="5">
                <div ng-include="config.tplPath + '/spinner.html'"></div>
                <div class="text-center">P2P连接中，请等待...
                <a href="/static/log.html" target="_blank" style="color:red">点击查看日志</a></div>
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting &amp;&amp; fileNavigator.fileList.length < 1 &amp;&amp; !fileNavigator.error">
            <td colspan="5">
                {{"no_files_in_folder" | translate}}...
            </td>
        </tr>
        <tr ng-show="!fileNavigator.requesting &amp;&amp; fileNavigator.error">
            <td colspan="5">
                {{ fileNavigator.error }}
            </td>
        </tr>
        <tr class="item-list main-item" ng-repeat="item in $parent.fileList = (fileNavigator.fileList | filter: {model:{name: query}} | orderBy:predicate:reverse)" ng-show="!fileNavigator.requesting" ng-click="selectOrUnselect(item, $event, $index)" ng-dblclick="smartClick(item)" ng-right-click="selectOrUnselect(item, $event, $index)" ng-class="{selected: isSelected(item)}">
            <td>
                <a href="" title="{{item.model.name}} ({{item.model.size | humanReadableFileSize}})">
                    <i class="glyphicon glyphicon-folder-close mr-10px" ng-show="item.model.type === 'dir'"></i>
                    <!-- <i class="glyphicon glyphicon-file" ng-show="item.model.type === 'file'"></i> -->
                    <span ng-show="item.model.type === 'file'" class="mr-10px" ng-class="{'item-extension': config.showExtensionIcons}">
                        <img data-ext="{{ item.model.name | fileExtension }}" ng-if="item.model.name.slice(item.model.name.lastIndexOf('.')+1) === 'xcel'" ng-src="static/assets/excel.svg">
                        <img data-ext="{{ item.model.name | fileExtension }}" ng-if="['docx', 'doc'].includes(item.model.name.slice(item.model.name.lastIndexOf('.')+1))" ng-src="static/assets/word.svg">
                        <img data-ext="{{ item.model.name | fileExtension }}" ng-if="item.model.name.slice(item.model.name.lastIndexOf('.')+1) === 'flv'" ng-src="static/assets/flash.svg">
                        <img data-ext="{{ item.model.name | fileExtension }}" ng-if="['mp4','mp3'].includes(item.model.name.slice(item.model.name.lastIndexOf('.')+1))" ng-src="static/assets/music.svg">
                        <img data-ext="{{ item.model.name | fileExtension }}" ng-if="item.model.name.slice(item.model.name.lastIndexOf('.')+1) === 'pdf'" ng-src="static/assets/pdf.svg">
                        <img data-ext="{{ item.model.name | fileExtension }}" ng-if="item.model.name.slice(item.model.name.lastIndexOf('.')+1) === 'ppt'" ng-src="static/assets/ppt.svg">
                        <img data-ext="{{ item.model.name | fileExtension }}" ng-if="item.model.name.slice(item.model.name.lastIndexOf('.')+1) === 'rar'" ng-src="static/assets/rar.svg">
                        <img data-ext="{{ item.model.name | fileExtension }}" ng-if="['jpeg','png','jpg'].includes(item.model.name.slice(item.model.name.lastIndexOf('.')+1))" ng-src="static/assets/img.svg">
                        <img data-ext="{{ item.model.name | fileExtension }}" ng-if="!['xcel','doc','docx','flv','ppt','pdf','rar','jpeg','png','jpg','mp4','mp3'].includes(item.model.name.slice(item.model.name.lastIndexOf('.')+1))" ng-src="static/assets/others.svg">
                        <!-- <i class="glyphicon glyphicon-file" ng-if="!['xcel','docx','flv','ppt','pdf','rar','jpeg','png','jpg','mp4','mp3'].includes(item.model.name.slice(item.model.name.lastIndexOf('.')+1))" data-ext="{{ item.model.name | fileExtension }}" ng-class="{'item-extension': config.showExtensionIcons}"></i> -->
                    </span>
                    {{(item.model.key||item.model.name) | strLimit : 64}}
                </a>
            </td>
            <td class="hidden-xs">
                <span ng-show="item.model.type !== 'dir' || config.showSizeForDirectories">
                    {{item.model.size | humanReadableFileSize}}
                </span>
            </td>
            <td class="hidden-sm hidden-xs" ng-hide="config.hideDate">
                {{item.model.date | formatDate }}
            </td>
            <td class="hidden-sm hidden-xs" ng-hide="config.hidePermissions">
                {{item.model.perms.toCode(item.model.type === 'dir'?'d':'-')}}
            </td>
        </tr>
    </tbody>
</table>
